<ul class="dropdown-menu">
    {% for reseau in reseaux %}
        <li>
            <a href="{{ path('reseau_history_versions', {'id': reseau.id}) }}">
                {{ reseau.name }}
            </a>
        </li>
    {% endfor %}
</ul>