{% extends 'DocBundle:Default:index.html.twig' %}

{% block body %}
    <h1>Création d'un réseau</h1>
    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {{ include("DocBundle:reseau:form.html.twig") }}
        <button type="submit" class="glyphicon glyphicon-ok btn btn-primary btn-md">Créer</button>
        <button type="reset" class="btn btn-default btn-md">Annuler</button>

        {{ form_end(form) }}
    </div>

    <a href="{{ path('reseau_index') }}"><button type="button" class="btn btn-info">Retourner à la liste</button></a>

{% endblock %}
