{% extends 'DocBundle:Default:index.html.twig' %}

{% block body %}
    <h1>Création d'un paramètre</h1>
<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {{ include("DocBundle:cnpdocument:form.html.twig") }}
    <button type="submit" class="glyphicon glyphicon-ok btn btn-primary btn-md">Créer</button>
    <button type="reset" class="btn btn-default btn-md">Annuler</button>

    {{ form_end(form) }}
</div>
    <ul>
        <li>
            <a href="{{ path('cnpdocument_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
